.containerStyle{
    display: flex;
    justify-content: center;
}
.blue{
    background-color: blue;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.red{
    background-color:red;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.yellow{
    background-color:yellow;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.orange{
    background-color: orange;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.green{
    background-color:green;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.purple{
    background-color:purple;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.black{
    background-color:black;
    width: 50px;
    height: 50px;
    margin: 5px;
}

